@font-face {
  font-family: Aeonik-Regular;
  src: url(./fonts/fonnts.com-Aeonik-Regular.ttf);
}
@font-face {
  font-family: Aeonik-Bold;
  src: url(./fonts/fonnts.com-Aeonik-Bold.ttf);
}
/*scrollbar-background*/
::-webkit-scrollbar {
  background-color: rgba(16, 16, 16, 0.5568627451);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(90, 90, 90, 0.523);
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Aeonik-Regular, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  width: 100%;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

main {
  width: 100%;
}
main section {
  width: 100%;
  padding: var(--padding-2xl);
  display: flex;
  gap: var(--gutter-lg);
}
main section .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gutter-lg);
  width: 70%;
}
main section .left .top {
  display: flex;
  align-items: center;
  gap: var(--gutter-md);
}
main section .left .top .btn {
  padding: var(--padding-sm) var(--padding-lg);
  border: none;
  outline: none;
  border-radius: var(--border-radius-md);
  background-color: var(--bg-active-color);
  color: var(--text-active-color);
  cursor: pointer;
}
main section .left .top #reset-btn {
  background-color: var(--bg-danger-color);
  color: var(--text-primary-color);
  cursor: pointer;
}
main section .left .top #download-btn {
  background-color: var(--bg-success-color);
  color: var(--text-primary-color);
  cursor: pointer;
}
main section .left .bottom {
  background-color: var(--bg-secondary-color);
  width: 100%;
  padding: var(--padding-2xl);
  aspect-ratio: 5/3;
  border-radius: var(--border-radius-xl);
  display: flex;
  justify-content: center;
  align-items: center;
}
main section .left .bottom .placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.6;
  gap: var(--gutter-md);
}
main section .left .bottom i {
  font-size: var(--font-size-8xl);
}
main section .left .bottom p {
  font-size: var(--font-size-lg);
}
main section .left .bottom canvas {
  max-width: 90%;
  max-height: 80vh;
  display: none;
}
main .right {
  width: 30%;
  background-color: var(--bg-secondary-color);
  padding: var(--padding-lg);
  border-radius: var(--border-radius-lg);
  display: flex;
  flex-direction: column;
  gap: var(--gutter-md);
}
main .right h2 {
  letter-spacing: 0.1rem;
}
main .right .filters {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-md);
}
main .right .filters .filter {
  width: 100%;
}
main .right .filters .filter input {
  width: 100%;
  outline: none;
  margin-top: var(--margin-sm);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
main .right .filters .filter input::-webkit-slider-thumb {
  background-color: red;
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -8.5px;
}
main .right .filters .filter input::-webkit-slider-runnable-track {
  background-color: var(--bg-active-color);
  height: 3px;
  border-radius: var(--border-radius-md);
}
main .right .presets {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter-sm);
}

/*Golbal Button*/
.btn {
  padding: var(--padding-sm) var(--padding-lg);
  border: none;
  outline: none;
  border-radius: var(--border-radius-md);
  background-color: var(--bg-active-color);
  color: var(--text-active-color);
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */