@font-face {
  font-family: Aeonik-Regular;
  src: url(./fonts/fonnts.com-Aeonik-Regular.ttf);
}
@font-face {
  font-family: Aeonik-Bold;
  src: url(./fonts/fonnts.com-Aeonik-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Aeonik-Regular, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

html,
body {
  width: 100%;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
}

main {
  width: 100%;
  section {
    width: 100%;
    padding: var(--padding-2xl);
    .left{
        display: flex;
        flex-direction: column;
        gap: var(--gutter-lg);
        .top {
          display: flex;
          align-items: center;
          gap: var(--gutter-md);
          .btn {
            padding: var(--padding-sm) var(--padding-lg);
            border: none;
            outline: none;
            border-radius: var(--border-radius-md);
            background-color: var(--bg-active-color);
            cursor: pointer;
          }
          #reset-btn {
            background-color: var(--bg-danger-color);
            color: var(--text-primary-color);
            cursor: pointer;
          }
          #download-btn {
            background-color: var(--bg-success-color);
            color: var(--text-primary-color);
            cursor: pointer;
          }
        }
        .bottom{}
    }
  }
}
